image: gitlab.green-rabbit.net:5050/kimata/local-ubuntu:250706_043ea01d

variables:
    UV_LINK_MODE: copy
    UV_CACHE_DIR: .uv-cache

stages:
    - generate-tag
    - build-image
    - pre-test
    - test
    - tag-latest
    - deploy
    - renovate

generate-tag:
    stage: generate-tag
    script:
        - echo "TAG=$(date +%y%m%d)_${CI_COMMIT_SHORT_SHA}" > tag.env
    artifacts:
        reports:
            dotenv: tag.env
        expire_in: 1 hour

build-image:
    stage: build-image

    needs:
        - generate-tag

    variables:
        BUILDER: builder

    before_script:
        - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
        
    script:
        - 'echo "Building: ${CI_REGISTRY_IMAGE}:${TAG}"'
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.green-rabbit.net/kimata/bot-config.git
        - mv bot-config/mercari-bot.yaml config.yaml
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.green-rabbit.net/kimata/font.git private_font
        - mv private_font/* font

        - docker buildx create --driver docker-container --name ${BUILDER} --use --config /etc/buildkitd.toml
        - docker buildx use ${BUILDER}
        - docker buildx inspect --bootstrap
        - >
            docker buildx build
            --provenance=false
            --progress=plain
            --platform linux/amd64
            --cache-from type=registry,ref=${CI_REGISTRY_IMAGE}:cache
            --cache-from type=registry,ref=${CI_REGISTRY_IMAGE}:latest
            --cache-to type=inline
            --cache-to type=registry,ref=${CI_REGISTRY_IMAGE}:cache,mode=max
            --build-arg IMAGE_BUILD_DATE=$(date --iso-8601=seconds)
            --build-arg CHROME_CACHE_BUSTER=$(date +%Y%W)
            --tag ${CI_REGISTRY_IMAGE}:${TAG}
            --push .

    artifacts:
        paths:
            - config.yaml
            - target.yaml

test-prepare:
    stage: pre-test

    needs: []

    script:
        - uv sync --locked --no-editable

    artifacts:
        paths:
            - $UV_CACHE_DIR
        expire_in: 1 hour

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - $UV_CACHE_DIR

test-normal:
    stage: test

    needs:
        - test-prepare

    before_script:
        - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
        
    script:
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.green-rabbit.net/kimata/bot-config.git
        - mv bot-config/mercari-bot.yaml config.yaml
        - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.green-rabbit.net/kimata/font.git private_font
        - mv private_font/* font

        - export LANG=ja_JP.UTF-8
        - export LANGUAGE=ja_JP:ja
        - export LC_ALL=ja_JP.UTF-8

        - uv run python src/app.py -D

    cache:
        - key: ${CI_PROJECT_NAME}-selenium 
          paths:            
              - data/chrome 

    artifacts:
        when: always
        paths:
            - data/debug/**

tag-latest:
    stage: tag-latest

    needs:
        - generate-tag
        - job: test-normal
          artifacts: false

    before_script:
        - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
          
    script:
        - 'echo "Tagging ${CI_REGISTRY_IMAGE}:${TAG} as latest"'
        - docker pull ${CI_REGISTRY_IMAGE}:${TAG}
        - docker tag ${CI_REGISTRY_IMAGE}:${TAG} ${CI_REGISTRY_IMAGE}:latest
        - docker push ${CI_REGISTRY_IMAGE}:latest

    rules:
        - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
          when: never
        - when: on_success


deploy:
    stage: deploy

    needs:
        - generate-tag
        - job: test-normal
          artifacts: false

    image:
        name: gitlab.green-rabbit.net:5050/kimata/local-kubectl:250715_c88f3965

    script:
        - 'echo "OK. The CronJob references latest, so no action is needed."'

    rules:
        # NOTE: 自動実行ではデプロイしない
        - if: $CI_PIPELINE_SOURCE == "schedule"
          when: never
        - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
          when: never
        - when: on_success

renovate:
    stage: renovate
    image:
        name: gitlab.green-rabbit.net:5050/kimata/local-renovate:250715_3b8866ff

    script:
        - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}

    rules:
        - if: '$CI_COMMIT_BRANCH != "master"'
          when: never
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - changes:
              - renovate.json
